GenCosmics_C.d
GenCosmics_C.so
CDetMC.e*
CDetMC.o*
data/*.root
macros/*.root
plots/*.pdf
*.wrl
batch/data/*.root
batch/*.mac
batch/runlist_test*
batch/rootfiles/*.root
*.*~
*.pcm
.ipynb_checkpoints/*
macros/.ipynb_checkpoints/*
__pycache__/
.idea/
analysis/plots/*.pdf
